.roboto-unique-class {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.montserrat-unique-class {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, #1f73da, #5881dd, #237ae2);
    margin: 10px auto;
    padding: 10px;
    color: white;
    max-width: 1200px;
}

.headerTop {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 1000;
    text-shadow: 0 0 5px rgba(2, 2, 1, 0.5);
    opacity: 1;
}

.headerTop img {
    width: 500px;
    height: auto;
    margin-right: 10px;
    border-radius: 50px ;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 20px;
    box-shadow:  0 0 10px rgba(2, 2, 1, 5);
    
    
}


h1 {
    display: block;
    top: 0px;
    font-size: 50px;
}


.flex {
    display:flex;
    gap: 40px;
    margin-bottom: 40px;
}

/* the pictures of the topics*/

.books-pic {
    border-radius: 50px;
    width: 40vh;
    max-width: 40vh;
    border: 5px solid white;
    box-shadow:  0 0 10px rgba(2, 2, 1, 5);

}

.music-pic {
    border-radius: 50px;
    width: 40vh;
    max-width: 40vh;
    border: 5px solid white;
    box-shadow:  0 0 10px rgba(2, 2, 1, 5);
}

.games-pic {
    border-radius: 50px;
    width: 40vh;
    max-width: 40vh;
    border: 5px solid white;
    box-shadow:  0 0 10px rgba(2, 2, 1, 5);
}


/*The title of the topics*/

h2 {
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 5px rgba(2, 2, 1, 0.5);
}

/* the text content of the topics*/
p {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 5px rgba(2, 2, 1, 0.5);
}

.books-link:hover{
    mask-image: url(./resources/whitebooks.png);
    z-index: 5000;
    background-color: white;
}


