body{
    
    background-color: rgba(33, 3, 73, 0.637);
    background-blend-mode: lighten;
    color: white;
}

.headerTop {
  
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;

    margin: auto;
    margin-bottom: 20px;
}


.books, .music, .games {
    width: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 50, 226);
    border-radius: 50px;

    margin: auto;
    padding: 20px;

    margin-bottom: 20px;

    
}


.bookspic, .musicpic, .gamespic {
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 50, 226);
    border-radius: 50px;

    margin: auto;
    padding: 20px;

    margin-bottom: 20px;
    
} 


.HeaderBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aaaaff;
    width: 50vh;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
}


.Reasons {
    background-color: #aaaaff;
    width: 50vh;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
    
    
    margin-top: 20px;
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Rediscover {
    background-color: #aaaaff;
    width: 50vh;
    border-radius: 20px;
    padding: 25px;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #aaaaff;
    padding: 15px;

    align-items: center;
    text-align: center;

}